/* You can add global styles to this file, and also import other style files */

@import '~todomvc-common/base.css';
@import '~todomvc-app-css/index.css';

body {
  background-color: #dee3ea14;
}

@media only screen and (max-width: 600px) {
  .todoapp h1 {
    position: absolute;
    top: -121px;
    width: 100%;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }

  .todo-list li {
    position: relative;
    font-size: 17px;
    border-bottom: 1px solid #ededed;
  }

  new-todo,
  .edit {
    margin-left: 10;
    position: relative;
    margin: 0px;
    width: 100%;
    font-size: 17px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
